label{
	color: black;
	font-weight: bold;
	font-size: 15px;
	padding-left: 20px;
}

#QuestionText{
	margin-left: 20px;
	height: 80px;
	width: 500px;
}

#FunctionName{
	margin-left: 20px;
}

#Submit2{
	width: 100px;
	height: 30px;
	border: none;
	background-color: blue;
	border-radius: 12px;
	color: white;
	font-size: 12px;
	margin-left: 20px;
}

#Submit2:hover{
	background-color: #1799fa;
}

#Submit2:active{
	background-color: #1799fa;
	color: black;
}

select{
	margin-left: -20px;
}

.CreateQuestion select{
	margin-left: 20px;
}

#TestCaseOutputType{
	margin-left: 20px;
}

.CreateQuestion button{
	width: 100px;
        height: 30px;
        background-color: blue;
        border-radius: 12px;
        color: white;
	font-size: 12px;
	border: none;
        margin-left: 20px;

}

.CreateQuestion button:hover{
	background-color: #1799fa;
}

.CreateQuestion button:active{
	background-color: #1799fa;
	color: black;
}

.CreateQuestion select{
	margin-right: 50px;
}

