label{
	color: black;
	font-weight: bold;
	font-size: 15px;
	padding-left: 20px;
}

#QuestionText{
	margin-left: 20px;
	height: 200px;
}

#FunctionName{
	margin-left: 20px;
}

#Submit2{
	width: 100px;
	height: 30px;
	background-color: blue;
	border-radius: 12px;
	color: white;
	margin-left: 20px;
}
