label{
	color: black;
	font-weight: bold;
	font-size: 15px;
	padding-left: 20px;
}



#QuestionText{
	margin-left: 20px;
	height: 150px;
	width: 400px;
}

#FunctionName{
	margin-left: 20px;
}

select{
	margin-left: -20px;
}

.CreateQuestion select{
	margin-left: 2px;
}

.AddQuestionFormButtons button {
	width: 100px;
	height: 30px;
	background-color: blue;
	border-radius: 12px;
	color: white;
	font-size: 12px;
	border: none;
	margin: 5px;
}

.AddQuestionFormButtons button:hover {
	background-color: #1799fa;
}

.AddQuestionFormButtons button:active {
	background-color: #1799fa;
	color: black;
}

.CreateQuestion svg {
	width: 200px;
	height: auto;
	margin:20px;
}

.CreateQuestion {
	display:flex;
	flex-direction:row;
}

.CreateQuestionForm {
	padding: 10px;
	display:flex;
	flex-direction:column;
}

.CreateQuestionForm form {
	border: 1px solid black;
	width:700px;
	display:flex;
	flex-direction:column;
}

.TestCaseFormPart {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 3px solid skyblue;
	margin: 5px;
	align-self: center;
}

.QuestionOption {
	justify-content: center;
	display: flex;
	align-content: center;
	text-align: center;
	padding: 10px;
	width: fit-content;
	align-self: center;
	border: 3px solid skyblue;
	margin: 4px;
}

.QuestionOption label {
	align-self:center;
}

.QuestionOptions {
	display:flex;
	flex-direction:column;
}

.AddQuestionFormButtons {
	align-self: center;
	margin: 10px;
}