.display-linebreak {
  white-space: pre;
  text-align: center;
}

.TestCaseTable table, .TestCaseTable tr, .TestCaseTable td, .TestCaseTable th{
	border: 1px solid;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#save {
	display: flex;
	justify-content: center;
	align-items: center;
}
input:out-of-range {
  background-color: rgba(255, 0, 0, 0.25);
  border: 2px solid red;
}

.ReviewExamButtons{
        display:flex;
        flex-direction:row;
        padding: 14px 16px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
}

#release{
	display: block;
	margin: 0 auto;
	background-color: #04AA6D;
	color: white;
	padding: 10px 12px;
	border-radius: 10px;

}


.ReviewExamStudentButtons{
	display:flex;
        flex-direction:row;
        padding: 14px 16px;
        text-decoration: none;
        justify-content: center;
        align-items: center;

}

.ReviewExamStudentButtons button{
	background-color: red;
        color: white;
        padding: 12px 14px;
        margin-left: 8px;
        text-decoration: none;
        font-size: 17px;

}

.save button{
	display: block;
	background-color: blue;
	color: white;
	margin: 0 auto;
	border-radius: 12px;
	height: 30px;

}



.ActiveExam {
	background-color: green;
	color: white;
	padding: 14px 16px;
	margin-left: 8px;
	text-decoration: none;
	font-size: 17px;
}

.NotActiveExam {
	background-color: blue;
	color: white;
	padding: 14px 16px;
	margin-left: 8px;
	text-decoration: none;
	font-size: 17px;
}

.StudentResponse {
	text-align: start;
	display: flex;
	align-items: center;
	justify-content: center;
}