.ExamButtonActive {
  background-color: #04AA6D;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ExamButtonNonActive {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ShowQuestionBankForm table, .ShowQuestionBankForm td, .ShowQuestionBankForm th {
	border: none;
}

.ShowQuestionBankForm {
	display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.rightSplitScreen {
	display:flex;
	flex-direction: column;
	min-width: 500px;
	min-height: 500px;
	border: 2px solid black;
}

.leftSplitScreen {
	display:flex;
	flex-direction: column;
	min-width: 500px;
	min-height: 500px;
	border: 2px solid black;
}

.leftSplitScreen table, .leftSplitScreen td, .leftSplitScreen tr {
	border: 1px solid black;
}

.ShowQuestionBankList table, .ShowQuestionBankList td, .ShowQuestionBankList th {
    border: none;
	text-align: center;
}

.ShowQuestionBankList {
	display:flex;
	flex-direction:column;
}

.ExamSelector input{
	margin-left: 10px;

}

.ExamSelector button{
	margin-left: 5px;
}

#Submit{
	background-color: blue;
	color: white;
	border-radius: 12px;
}

.ExamSelector h3{
	margin-left: 5px;
}




