.ExamButtonActive {
  background-color: #04AA6D;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ExamButtonNonActive {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ShowQuestionBankForm table, .ShowQuestionBankForm td, .ShowQuestionBankForm th {
	border: none;
}

.ShowQuestionBankForm {
	display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
	
}

.rightSplitScreen {
	display:flex;
	flex-direction: column;
	min-width: 500px;
	min-height: 500px;
	padding: 10px;
}

.leftSplitScreen {
	display:flex;
	flex-direction: column;
	min-width: 500px;
	min-height: 500px;
	padding:10px;
}

.leftSplitScreen table, .leftSplitScreen td, .leftSplitScreen tr, .leftSplitScreen th {
	border: 1px solid black;
}

.rightSplitScreen table, .rightSplitScreen td, .rightSplitScreen tr, .rightSplitScreen th {
	border: 1px solid black;
	max-width: 900px;
	border: 1px solid black;
	align-self: center;
	text-align: center;
}

.rightSplitScreen table {
	background:skyblue;
}

.rightSplitScreen td {
	background:white;
}

.rightSplitScreen svg {
	width: 50px !important;
	height:auto;
}

.leftSplitScreen table {
	background:skyblue;
}

.leftSplitScreen td {
	background:white;
}

.ShowQuestionBankList table, .ShowQuestionBankList td, .ShowQuestionBankList th {
    border: none;
	text-align: center;
	border: 1px solid black;
}

.ShowQuestionBankList table {
	background:skyblue;
}

.ShowQuestionBankList td {
	background:white;
}

.ShowQuestionBankList {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
}

.ExamSelector input{
	margin-left: 10px;

}
.filteringOptions select{
	margin-left: 2px;
}
.filteringOptions label{
	margin-bottom: 5px;
}

.ExamSelector button{
	margin-left: 5px;
}

#Submit{
	background-color: blue;
	color: white;
	border-radius: 12px;
}

#Submit:hover{
	background-color: #1799fa;
}

#Submit:active{
	background-color: #1799fa;
	color: black;
}

.ExamSelector h3{
	margin-left: 5px;
}

.Loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.filteringOptions {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
