.ExamButtonActive {
  background-color: #04AA6D;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ExamButtonNonActive {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ShowQuestionBankForm table, .ShowQuestionBankForm td, .ShowQuestionBankForm th {
	border: none;
}

.ShowQuestionBankForm {
	display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
	max-width:900px;
	border:1px solid black;
	align-self:center;
}

.rightSplitScreen {
	display:flex;
	flex-direction: column;
	min-width: 500px;
	min-height: 500px;
	border: 2px solid black;
}

.leftSplitScreen {
	display:flex;
	flex-direction: column;
	min-width: 500px;
	min-height: 500px;
	border: 2px solid black;
}

.leftSplitScreen table, .leftSplitScreen td, .leftSplitScreen tr, .leftSplitScreen th {
	border: 1px solid black;
}

.rightSplitScreen table, .rightSplitScreen td, .rightSplitScreen tr, .rightSplitScreen th {
	border: 1px solid black;
}

.ShowQuestionBankList table, .ShowQuestionBankList td, .ShowQuestionBankList th {
    border: none;
	text-align: center;
}

.ShowQuestionBankList {
	display:flex;
	flex-direction:column;
}

.ExamSelector input{
	margin-left: 10px;

}

.ExamSelector button{
	margin-left: 5px;
}

#Submit{
	background-color: blue;
	color: white;
	border-radius: 12px;
}

.ExamSelector h3{
	margin-left: 5px;
}

.Loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.filteringOptions {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}