body
{
    margin: 0;
    padding: 0;
    background-color: #282b2e;
    font-family: 'Verdana';
}

h1 {
    color: #f7c62e;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: -60px;
    top: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login{
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 300px;
	position: absolute;
    	margin: auto;
    	padding: 50px;
    	background: #f3f6f4;
    	border-radius: 15px;
    	
}
h2{
    text-align: center;
    color: black;
    padding: 20px;
}
label{
    color: #black;
    font-size: 15px;
    padding-right: 18px;
}

#username{
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#password{
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#Log{
    width: 210px;
    height: 30px;
    border: none;
    background-color: blue;
    border-radius: 3px;
    padding-left: 7px;
    color: white;


}

